@{
    ViewData["Title"] = "Minhas séries";
}

@model List<Serie>

<div class="text-center">
    <h1 class="display-4 mt-5">Minhas Séries</h1>
    <a asp-action="Create" class="btn btn-secondary float-right mb-3">Nova Série</a>
    <div class="table-responsive table-striped table-hover mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Título</th>
                <th scope="col">Gênero</th>
                <th scope="col">Descrição</th>
              <th scope="col">Ano</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
              @foreach (var serie in @Model)
              {
                  <tr>
                      <th scope="row" class="align-middle">@serie.Id</th>
                      <td class="align-middle">@serie.Titulo</td>
                      <td class="align-middle">@serie.Genero</td>
                      <td class="align-middle">@serie.Descricao</td>
                      <td class="align-middle">@serie.Ano</td>
                      <td class="align-middle">
                          <button type="button" class="btn btn-info">Ver</button>
                          <button type="button" class="btn btn-primary">Editar</button>
                          <form  onsubmit="confirm('Tem certeza que deseja apagar essa série?')" class="d-inline" method="post" asp-action="Destroy">
                              <input type="hidden" name="Id" value="@serie.Id" />
                              <button type="submit" class="btn btn-danger">Excluir</button>
                          </form>
                      </td>
                  </tr>
              }
          </tbody>
        </table>
    </div>
</div>